extends layout

block content
  nav
    a.switch.btn(href="#") #[i.fas.fa-random] Switch View #[span s]
    form(method="POST" action="/" style="float:right;")
      input(type="text" name="url" value=tele.url placeholder="Enter a Dropbox Paper URL")
      | &nbsp;
      | &nbsp;
      button.btn(type="submit") Update
      | &nbsp;
      | &nbsp;
      a.btn.lite(href=tele.url target="_blank") Edit
  a.ipad.switch(href="#")
    i.fas.fa-random

  #content-parent
    #content
      h1= tele.title
      != marked(tele.markdown)
